# LLM Providers (set the one you use)
OPENAI_API_KEY=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
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
XAI_API_KEY=
OPENROUTER_API_KEY=
COMPANY_NAME=RELIANCE
DB_HOST=h87yw4v3gw.rrklcji0qs.tsdb.cloud.timescale.com
DB_NAME=tsdb
DB_USER=tsdbadmin
DB_PASSWORD=akfia051wy8ymprn
DB_PORT=35106